.btn-cola {
    border:1px solid red; background-color: #eb2222;
}

.tier{
    background-color:#727272; 
    width:22px; 
    height:22px;
}

.app {
    font-weight:600;
    margin-bottom:1rem;
}

.main {
    border-right:2px dashed silver
}

.serv{
    background-color: #33c555;
     width:22px;
     height:22px;
}